<mat-toolbar>
  <span class="toolbar-brand">Admin</span>
  @if (!isMobile()) {
    <nav aria-label="Main navigation" class="toolbar-nav">
      @for (link of navLinks; track link.path) {
        <a mat-button [routerLink]="link.path" routerLinkActive="active-link">
          <mat-icon>{{ link.icon }}</mat-icon>
          {{ link.label }}
        </a>
      }
    </nav>
  }
  <span class="flex-auto"></span>
  @if (userStore.user(); as user) {
    @if (!isMobile()) {
      <span class="text-sm text-gray-400 mr-2">{{ user.email }}</span>
    }
    <button mat-icon-button aria-label="Sign out" (click)="onSignOut()">
      <mat-icon>logout</mat-icon>
    </button>
  }
  @if (isMobile()) {
    <button mat-icon-button aria-label="Toggle navigation menu" (click)="sidenav()?.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  @if (isMobile()) {
    <mat-sidenav #sidenav mode="over" position="end" role="navigation" aria-label="Side navigation" autoFocus="false">
      <mat-nav-list>
        @for (link of navLinks; track link.path) {
          <a mat-list-item [routerLink]="link.path" routerLinkActive="active-link" (click)="closeSidenav()">
            <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
            {{ link.label }}
          </a>
        }
        <mat-divider />
        <a mat-list-item (click)="onSignOut()">
          <mat-icon matListItemIcon>logout</mat-icon>
          Sign out
        </a>
      </mat-nav-list>
    </mat-sidenav>
  }

  <mat-sidenav-content>
    <main>
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
