rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.auth.uid == userId
                    && !('role' in request.resource.data);
      allow update: if request.auth != null
                    && (request.auth.uid == userId || isAdmin())
                    && !('role' in request.resource.data.diff(resource.data).affectedKeys());
      allow delete: if isAdmin();
    }

    match /episodes/{document} {
      allow write: if isAdmin();
    }

    match /tags/{document} {
      allow write: if isAdmin();
    }

    match /genres/{document} {
      allow write: if isAdmin();
    }

    match /categories/{document} {
      allow write: if isAdmin();
    }

    match /episodeTags/{document} {
      allow write: if isAdmin();
    }

    match /episodeGenres/{document} {
      allow write: if isAdmin();
    }

    match /episodeCategories/{document} {
      allow write: if isAdmin();
    }

    match /{document=**} {
      allow read: if true;
    }
  }
}
