rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    function isValidImageUpload() {
      return request.resource.size < 2 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.*');
    }

    match /{allPaths=**} {
      allow read: if true;
      allow create: if isAdmin() && isValidImageUpload();
      allow update: if isAdmin() && isValidImageUpload();
      allow delete: if isAdmin();
    }
  }
}
