@use '../../../libs/styles/theme.scss' as theme;
@use 'tailwindcss';

body {
  margin: 0;
  background: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

.toolbar-nav a[mat-button] {
  outline: none !important;
  border: none !important;

  .mat-mdc-button-persistent-ripple,
  .mat-mdc-button-persistent-ripple::before,
  .mat-mdc-button-persistent-ripple::after,
  .mat-mdc-focus-indicator,
  .mat-mdc-focus-indicator::before,
  .mat-mdc-button-ripple,
  .mat-mdc-button-touch-target,
  .mdc-button__ripple,
  .mat-ripple {
    display: none !important;
  }
}

.sidenav-nav a[mat-list-item] {
  outline: none !important;
  --mdc-list-list-item-container-color: transparent;
  --mdc-list-list-item-hover-state-layer-color: transparent;
  --mdc-list-list-item-focus-state-layer-color: transparent;
  justify-content: center !important;
  text-align: center;

  .mdc-list-item__content,
  .mdc-list-item__primary-text {
    text-align: center !important;
    justify-content: center !important;
  }

  .mat-mdc-focus-indicator,
  .mat-mdc-focus-indicator::before,
  .mat-mdc-list-item-ripple,
  .mdc-list-item__ripple,
  .mat-ripple {
    display: none !important;
  }

  &.mdc-list-item--activated,
  &.mdc-list-item--selected {
    background: transparent !important;

    &::before {
      background: transparent !important;
    }
  }
}
